@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Passion+One:wght@400;700;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    transition: all 0.3s ease;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Добавлено
}

main {
    flex: 1 0 auto;
    width: 100%;
    padding-bottom: 60px; // Добавить отступ снизу
}
